.edit-event {
    padding: 20px;
    background: #F9BF3B;
    color: #fff;
    font-size: 1.8rem;
}

.edit-event__input-group {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}

.edit-event__input-group label,
.edit-event__input-group input {
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    font-size: 1.8rem;
}

.edit-event__input-group input {
    width: 70%;
    outline: none;
}

.edit-event button {
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    width: 100%;
    font-size: 1.8rem;
    background: #F9BF3B;
    outline: none;
    border: 2px solid #fff;
    margin-top: 20px;
    padding: 5px;
}